@{
    ViewData["Title"] = "FanPage Configuration";
    ViewBag.Template = "Template/AddEditFanPageConfigure";
    ViewBag.Url = Url.Action("AddFanPageConfigure", "FanPageConfigure");
    ViewBag.Method = "Post";
    ViewBag.FormId = "FanPageConfigure";
    ViewBag.TableId = "FanPageConfigure";
}
<script>
    var hub = null;
</script>
<h3>@ViewData["Title"]</h3>
<div class="col-6">
    <div class=" form-group row mb-3">
        <label class="col-4 col-form-label pl-0">Select Social Configure</label>
        <div class="col-6 unset-padding">
            <select class="form-control js-states" id="searchSocialConfig">
                <option value="-1">All</option>
            </select>
        </div>
    </div>
</div>
<table id="tbl-@ViewBag.TableId" class="table table-striped dt-responsive nowrap tbl-crud">
    <thead>
        <tr>
            <th class="all"></th>
            <th class="all"></th>
            <th class="all"></th>
            <th class="all"></th>
            <th class="all"></th>
            <th class="all"></th>

        </tr>
    </thead>
    <tbody></tbody>
</table>
<partial name="_Modal">
    <script>
        function callBackPageAccessHub(object) {
            if (object != null) {
                $('#PageAccessToken').val(object.pageAccessToken).trigger("change");;
                $('#PageId').val(object.pageId);
                $('#PageTitle').val(object.pageTitle);
            }
        }
        $(document).ready(function () {
            hub=connectToHub("callBackPageAccessHub", callBackPageAccessHub);
            $('#searchSocialConfig').select2({
                width: "50%",
                theme: "bootstrap",
                minimumResultsForSearch: Infinity,
                ajax: {
                    cache: false,
                    url: '@Url.Action("GetListSocialConfigure", "SocialConfigure")',
                    dataType: 'json',
                    processResults: function (resp) {
                        resp.data.unshift({
                            id: -1,
                            appName: "All"
                        })
                        var data = $.map(resp.data, function (obj) {
                            obj.id = obj.id;
                            obj.text = obj.appName;
                            return obj;
                        });
                        return {
                            results: data
                        };
                    }
                }
            });
             $('#tbl-@ViewBag.TableId tbody').on('change', '.btnCheckShow', function (e) {
                var table = $('#tbl-@ViewBag.TableId').DataTable();
                 var model = table.row($(this).parents('tr')).data();
                model.isSubscribe = !model.isSubscribe;
                showSpinner();
                $.ajax({
                    url: "@Url.Action("ChangeSubscribed", "FanpageConfigure")",
                    type: "POST",
                    data: model,
                    success: function (resp) {
                        if (!resp.success) {
                            toastDanger(resp.msg);
                            return false;
                        }
                        toastSuccess(resp.msg);
                        table.ajax.reload(null, false);
                    },
                    error: function () {
                        toastDanger("Server Error!")
                    }
                }).always(function () { hideSpinner() });

            })
             $('#searchSocialConfig').on('change.select2', function (e) {
                var table = $('table[id="tbl-@ViewBag.TableId"].tbl-crud').DataTable();
                table.ajax.reload();
            });
            generateTable(
                {
                    IdTable: 'tbl-@ViewBag.TableId',
                    IdFrm: 'frm-@ViewBag.FormId',
                    TitleModal: '@ViewData["Title"]',
                    FixedColumn: 1,
                    ReadAction: '@Url.Action("GetListFanPageConfigure", "FanPageConfigure")',
                    AddAction: '@Url.Action("AddFanPageConfigure", "FanPageConfigure")',
                    EditAction: '@Url.Action("EditFanPageConfigure", "FanPageConfigure")',
                    DelAction: '@Url.Action("DelFanPageConfigure", "FanPageConfigure")',
                    IsManage: true
                },
                [
                     {
                        data: "pageTitle", title: "Page Title",
                        render: function (data) {
                            return "<span class=\"d-inline-block text-truncate\" style=\"max-width: 200px;\">" + data + "</span>"
                        }
                    },
                    {
                        data: "pageId", title: "Page Id",
                        render: function (data) {
                            return "<span class=\"d-inline-block text-truncate\" style=\"max-width: 200px;\">" + data + "</span>"
                        }
                    },

                     {
                        data: "agentName", title: "Agent",
                        render: function (data) {
                            return "<span class=\"d-inline-block text-truncate\" style=\"max-width: 200px;\">" + data + "</span>"
                        }
                    },


                     {
                         data: "isSubscribe", title: "Subscribe Webhook",
                         width:"5%",
                        render: function (data, type, row) {
                            return '<input type="checkbox" class="btnCheckShow" id="switch' + row.id + '" ' + (data == true ? 'checked' : '') + ' data-switch="success"><label for="switch' + row.id + '" data-on-label="Yes" data-off-label="No" class="mb-0 d-block" />';
                        },
                    },
                    {
                        data: "dateModified", title: "Date Modified",
                        render: function (data) {
                            return moment(data).format("MM/DD/YYYY HH:mm:ss");
                        }
                    },
                    getTemplateEditDel()
                ],
                {
                    socialConfigId: function () {
                        return $('#searchSocialConfig').val()
                    }
                }
            );
        })

    </script>
